@charset "UTF-8";
@font-face {
  font-family: "Gordita";
  src: url("../fonts/GorditaLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Gordita";
  src: url("../fonts/GorditaMedium.ttf") format("truetype");
  font-style: medium;
  font-weight: 500;
}
@font-face {
  font-family: "Gordita";
  src: url("../fonts/GorditaRegular.ttf") format("truetype");
  font-style: regular;
  font-weight: 600;
}
@font-face {
  font-family: "Sawarabi";
  src: url("../fonts/SawarabiMincho-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: "Gordita";
  font-weight: 300;
  background-color: linear-gradient(#260021, #0B1432) !important;
  font-size: 12px;
  min-width: 305px;
}

.first-wrapper {
  background: linear-gradient(#260021, #0B1432);
  background-repeat: no-repeat;
}

.main {
  font-family: "Gordita";
  font-weight: 300;
  background-image: url("../assets/img/bear_bull-main_bg.png");
  height: auto;
  background-repeat: no-repeat;
  background-position: top;
  height: calc(59rem + 7px);
  background-blend-mode: multiply;
  background-color: rgba(17, 18, 17, 0.5);
  background-size: cover;
}
.main::before {
  content: "";
  background-image: url("../assets/img/left-side-bg.png");
  position: absolute;
  width: 35%;
  height: 44%;
  background-repeat: no-repeat;
  top: 80px;
  z-index: 0;
}
.main::after {
  content: "";
  background-image: url(../assets/img/right-side-bg.png);
  position: absolute;
  right: 20px;
  width: 29%;
  height: 44%;
  top: 80px;
  z-index: 0;
}

.status-bar {
  width: 100%;
  height: 25px;
  border-radius: 5px;
  font-size: 16px;
  color: #000000;
  background-color: #ffd600;
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin-bottom: 10px;
}

.date-wrapper {
  font-size: 12px;
  width: 100%;
  display: flex;
  margin-bottom: 11px;
  justify-content: center;
  align-items: center;
  background-color: #2A1163;
  min-width: 160px;
  height: 30px;
  color: #fff;
  border-radius: 25px;
  border: 1px solid #FFD762;
  position: relative;
  z-index: 99;
  box-shadow: -1px 0px 15px 1px rgba(213, 213, 42, 0.72);
}

img {
  position: relative;
  z-index: 99;
  width: 190px;
}

.sidebar {
  position: relative;
  z-index: 99;
  width: 270px;
  background: linear-gradient(#220821, #1D134A);
  height: 100%;
  float: left;
  border-left: 1px solid #F8D05F;
  border-top: none;
  border-right: 1px solid #F8D05F;
  border-bottom: none;
}

.sidebars {
  height: 100rem;
}

.wrappers {
  z-index: 95;
  position: relative;
  background: border-box;
  flex-wrap: nowrap;
}

.sidebars-main_wrapper {
  height: auto;
  border-bottom: none;
}

.sidebars-inner_wrapper {
  position: absolute;
  height: 73rem;
  border-bottom: none;
}

.sidebar__header {
  margin-top: 30px;
}

.header__account-verification {
  margin-top: 20px;
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__name-id {
  color: #fff;
  display: flex;
  flex-direction: column;
}

.verify-now {
  float: left;
  color: #fff;
  margin-left: 20px;
}
.verify-now:hover {
  color: #fff;
}

.verification-wrapper {
  display: flex;
  align-items: center;
}

.sidebar-menu__balance_title {
  color: #f8d05f;
  margin-left: 10px;
  height: 12px;
}
.sidebar-menu__balance_title:hover {
  color: white;
}

.sidebar-score_points::before {
  content: "✪";
  margin-right: 5px;
}

.sidebar-avatar-id__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  width: 50%;
  margin-left: 20px;
}

.header__avatar {
  display: flex;
}
.header__avatar img {
  width: 40px;
  height: 40px;
}

.verification-warning {
  color: #40FD3F;
}

.id-number {
  color: #F8D05F;
}

.sidebar-menu-list {
  margin-left: 7px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-menu-list > div {
  cursor: pointer;
  width: 95%;
}
.sidebar-menu-list .col {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #F8D05F;
  background-color: #200927;
  height: 50px;
  border: 1px solid #F8D05F;
  border-radius: 6px;
}

.sidebar-menu__btn_title {
  margin-left: 10px;
  font-size: 14px;
  color: #F8D05F;
}
.sidebar-menu__btn_title:hover {
  color: #F8D05F;
}

.sidebar-menu__icon {
  margin-right: 13px;
  width: 20px;
  height: 20px;
}

.first-col {
  height: 100%;
  display: flex;
}

.containers-wrapper__first {
  position: relative;
  z-index: 98;
  width: 70%;
}

.sidebar-menu__balance {
  margin-left: 10px;
  color: #40FD3F;
  font-size: 15px;
}
.sidebar-menu__balance:hover {
  color: #40FD3F;
}

.sidebar-menu__account-info {
  display: flex;
  flex-direction: column;
}

.deposit-container {
  min-height: 198px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #3F0437;
  border-radius: 10px;
  border: 1px solid #FFD762;
  box-shadow: -1px 0px 15px 1px rgba(213, 213, 42, 0.72);
  align-items: center;
}

label {
  width: 50%;
  font-size: 16px;
  font-family: "Gordita";
  color: #F8D05F;
  font-weight: 400;
}

.dropdown-item {
  color: #fff;
  font-family: "Gordita";
  font-weight: 200;
  font-size: 14px;
  color: #FFD762;
  border-radius: 5px;
  font-family: "Gordita";
}
.dropdown-item:hover {
  color: #fff;
  background-color: #521A49;
}

.selected-dropdown-item {
  font-size: 14px;
  font-family: "Gordita";
  font-weight: 200;
  color: #FFD762;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selected-dropdown-item:hover {
  color: #fff;
}

.dropdown-toggle:after {
  color: #FFD762;
  left: 150px;
  position: absolute;
}

.past-days_btn:after {
  color: #FFD762;
  left: 150px;
  position: absolute;
}

.all-btn:after {
  color: #FFD762;
  left: 150px;
  position: absolute;
}

.payment-method {
  color: #fff;
  font-size: 14px;
  font-family: "Gordita";
  margin-top: 10px;
  width: 100%;
  height: 37px;
  display: block;
  border: 1px solid #8C5B82;
  border-radius: 5px;
  background-color: #340432;
  border: 1px solid #F8D05F;
}

.dropdown-menu {
  width: 100%;
  background-color: #340432;
  border: 1px solid #FFD762;
  border-radius: 5px;
}

.active-sidebar-menu {
  background-color: #133D1E !important;
}

.logo-img {
  cursor: pointer;
  width: 100%;
}

.dropdown-pages_list {
  margin: 0;
  padding: 0;
}

.game-info-container-navigation_panel {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  font-size: 14px;
  position: relative;
  z-index: 99;
  width: 100%;
  justify-content: start;
}
.game-info-container-navigation_panel > ul {
  width: 100%;
}
.game-info-container-navigation_panel > ul > li {
  display: inline-block;
  list-style-type: none;
}

.sidebar-activation {
  display: inline-block;
}

.mobile-header {
  margin-bottom: 15px;
  width: 100%;
  min-height: 73px;
  background: linear-gradient(#22041E, #1D134A);
  border-bottom: 1px solid #FFD762;
}

.mobile-header_activation {
  display: none;
  justify-content: center;
}

.month {
  color: #FEFFAB;
  border-right: 1px solid #F8D05F;
  padding-right: 10px;
  margin-right: 5px;
}

.time {
  margin-right: 10px;
  margin-bottom: 3px;
  color: #F7D261;
}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}

.burger {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
  margin: 30px auto;
}
.burger::before {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #FFD762;
  top: 0;
  box-shadow: 0 11px 0 #FFD762;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #FFD762;
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: end;
}
.header-wrapper:first-child {
  margin-top: 20px;
}

.verification-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.visible-header__buttons {
  display: flex;
}

.hidden-header__buttons {
  display: none;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #22041E;
  justify-content: center;
  height: auto;
  text-align: center;
  color: #FFD762;
  font-size: 24px;
  border-radius: 6px;
  border: 1px solid #FFD762;
  box-shadow: -1px 0px 15px 1px rgba(213, 213, 42, 0.72);
  height: 40px;
  align-items: center;
}
.hidden-header__buttons:hover {
  color: #FFD752;
}
.hidden-header__buttons > div > .header-button > img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

.header-button_wrapper {
  width: 50%;
}

.header-button {
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.header-button__text {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-family: "Sawarabi";
  font-size: 14px;
}

.nav-panel_active {
  font-size: 14px;
  font-family: "Gordita";
  color: #fff !important;
  text-decoration: underline;
  margin-top: 15px;
  display: inline-block;
}

.account-info {
  margin-left: 10px;
}

.clock-icon {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  margin-right: 3px;
}

.profit-tb__table {
  width: 100%;
}
.profit-tb__table th {
  border-right: 1px solid #FFD762;
  color: #FFD762;
  width: calc(4em + 15px);
  text-align: center;
  font-size: 11px;
  font-weight: 100;
}
.profit-tb__table td {
  line-height: 25px;
  border-right: 1px solid #F8D05F;
  text-align: center;
}

.active-profit {
  color: #14FF00 !important;
}

thead:last-child {
  border: none;
}

tbody:last-child {
  border: none;
}

.elapsed {
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 100%;
  padding-bottom: 80px;
  margin: 0 auto;
}

.containers-wrapper {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 5px;
}

.containers-second_main {
  width: 72%;
  margin-left: 7rem;
}

.marshall {
  color: #F8D05F;
}

.general {
  color: #BF9058;
}

.major {
  color: #C4C4C4;
}

.score-points {
  width: 100%;
  width: 100vw;
}

.score-points__tr > td {
  border: 1px solid #F8D05F;
}
.score-points__tr > td > div {
  font-weight: 100;
  font-size: 12px;
}
.score-points__tr > th {
  border: 1px solid #F8D05F;
  font-size: 12px;
  font-weight: 100;
  padding: 5px;
}

.score-points__table-logo > img {
  width: 25px;
  height: 25px;
}

.sergeant {
  color: #9E69F5;
}

.corporal {
  color: #4FBC85;
}

.footer {
  min-height: 220px;
}

.footer-wrapper_battle-room__open {
  position: absolute;
  display: block;
  width: 100%;
  background-color: #0B1432;
  min-width: 305px;
}

.battle-open__room {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrap {
  height: 70%;
}

.footer__title {
  font-size: 14px;
  font-family: "Gordita";
  font-weight: 400;
  text-align: center;
  color: #AF894A;
}

.footer__subtitle {
  font-size: 14px;
  font-family: "Gordita";
  font-weight: 400;
  text-align: center;
  color: #AF894A;
}

.footer__logos {
  text-align: center;
}

.footer-wrapper {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.selected {
  color: #fff;
}

.headers {
  height: auto;
}

#myDialog {
  font-family: "Gordita";
  text-align: center;
  overflow-y: hidden;
  height: auto;
}
#myDialog > .score-points {
  margin-bottom: 15px;
  width: 100% !important;
}
#myDialog::backdrop {
  background-color: rgba(14, 1, 11, 0.8);
}

.score-points__table-modal {
  width: 100%;
}

.score-points__table-body_title {
  color: #F8D05F;
}

.score-points__table-balance {
  color: #fff;
}

.score-points__table-body_text {
  color: #fff;
}

.modal-game_rules {
  width: 340px;
  border: 1px solid #F8D05F;
  border-radius: 10px;
  box-shadow: -1px 0px 15px 1px rgba(213, 213, 42, 0.72);
  background: linear-gradient(#2E0327, #6D1153, #2E0327);
  min-height: 640px;
}

.modal-close_btn {
  background: none;
  border: none;
  float: right;
}

.question_mark {
  width: 100%;
  text-align: center;
  clear: both;
}
.question_mark > img {
  width: 40px;
  height: 40px;
}

.modal-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 21px;
  color: #fff;
}

.modal-text {
  color: #FEFFAB;
  font-size: 14px;
  font-weight: 300;
}

.score-points__title-modal {
  font-size: 21px;
  color: #fff;
}

.profit-tb__title-modal {
  font-size: 21px;
  color: #fff;
}

.profit-tb_modal {
  color: #fff;
  font-size: 11px;
  margin-top: 10px;
}

.modal-table {
  width: 100% !important;
}

.activation-mobile-menu_modal {
  display: none;
}

.mobile-menu_modal {
  position: absolute;
  top: calc(5em + 2px);
  min-width: 100%;
  height: 100%;
  background-color: rgba(14, 1, 11, 0.8);
  z-index: 99;
}

.dropdown-windows {
  display: inline-block;
  width: 100%;
}
.dropdown-windows > div {
  margin-right: 1px;
  width: 100%;
  float: right;
  display: flex;
}

.no-transaction_text {
  font-family: "Gordita";
  color: #F8D05F;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.sidebar-modal {
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  background: linear-gradient(#220821, #1D134A);
  border-left: 1px solid #F8D05F;
  border-top: none;
  border-right: 1px solid #F8D05F;
  border-bottom: none;
}

.header__account-verification-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.verify-now-modal {
  font-size: 14px;
  color: #fff;
}

.sidebar-modal_wrapper {
  align-items: center;
  display: flex;
  width: 160px;
}

.deposit-container_header {
  margin: 0 auto;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #FFD762;
}

.table {
  color: #fff;
  font-size: 14px;
  font-family: "Gordita";
}

.table > thead {
  color: #FFD762;
}

.table > thead > tr > th {
  border-top: none;
}

.table > tbody > tr > td:nth-child(2) > img {
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
}

.table > tbody > tr > td:nth-child(3) {
  color: #FFD762;
  text-decoration: underline;
  cursor: pointer;
}

.table > tbody > tr > td, .table > tbody > tr > th {
  border-top: 1px solid #6A3F3A;
}

.table > thead > tr > th {
  border-bottom: none;
}

.mobile-table_container {
  display: none;
  padding-right: 20px;
  justify-content: center;
  flex-direction: column;
  max-width: 1024px;
  height: 561px;
  overflow-x: hidden;
  overflow-y: scroll;
  color: #fff;
}

.mobile-table_container::-webkit-scrollbar {
  background-color: #260423;
  width: 10px;
  scroll-margin-top: 19px;
}

.mobile-table_container::-webkit-scrollbar-thumb {
  position: relative;
  background-color: #8D4987;
  width: 2px;
  border-radius: 6px;
  scroll-margin-right: 5px;
}

.desktop-table_container {
  height: 550px;
}

.table {
  width: 99%;
}

.table > thead {
  z-index: 99;
  position: sticky;
  background-color: #3F0437;
  top: 0;
}

.table > tbody {
  position: relative;
  z-index: 1;
}

.simplebar-scrollbar::before {
  background-color: red;
}

.mobile-table-header {
  margin-top: 10px;
}

.mobile-table_container > div {
  border-bottom: 1px solid #6A3F3A;
  width: 100%;
  height: 160px;
}

.activate-info-panel {
  display: none !important;
}

.mobile-table-stock-info_panel {
  padding: 8px;
  padding-left: 20px;
  width: 100%;
  transform: translateY(-15px);
  z-index: 99;
  position: relative;
  background-color: #260423;
  display: flex;
  min-height: 110px;
  flex-direction: column;
}

.mobile-table-number, .mobile-table-payment-info, .mobile-table-creation-date {
  font-size: 13px;
  font-family: "Gordita";
  color: #FEFFAB;
}

.mobile-table-status {
  font-size: 13px;
  font-family: "Gordita";
  color: #FEFFAB;
}

.mobile-table-number > .white-colored {
  color: #fff;
}

.mobile-table-status > .white-colored {
  color: #fff;
}

.mobile-table-payment-info > span {
  display: block;
  width: 100%;
  color: #FFD762;
}

.mobile-table-payment-info > span:nth-child(2) {
  color: #FFD762;
}

.mobile-table_type > img {
  width: 18px;
  height: 15px;
}

.column {
  height: 20px;
}

.table-header {
  margin: 0 auto;
}

.table-header > div, .table-body_data > div {
  font-size: 14px;
  font-family: "Gordita";
  color: #FFD762;
  height: 48px;
  border-bottom: 1px solid #6A3F3A;
}

.table-body_data > div:not(:nth-child(3)) {
  color: white;
}

.table-header > div:nth-child(1), .table-body_data > div:nth-child(1) {
  width: 6%;
  text-align: center;
}

.table-header > div:nth-child(2) {
  width: 13%;
  text-align: center;
}

.table-header > div:nth-child(2) > img {
  margin-bottom: 5px;
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.table-header > div:nth-child(5), .table-header > div:nth-child(6) {
  width: 11%;
  text-align: center;
}

.table-header > div:nth-child(3) {
  width: 25%;
  text-align: center;
}

.table-header > div:nth-child(4), .table-header > div:nth-child(7) {
  width: 15%;
  text-align: center;
}

.white-colored {
  color: #fff !important;
}

.status-canceled {
  color: #FF5151 !important;
}

.status-completed {
  color: #51FF62 !important;
}

.status-processing {
  color: #FF9E0D !important;
}

.arrow-4 {
  display: none;
  position: relative;
  left: -28px;
  cursor: pointer;
  top: 21px;
}

.arrow-4-left {
  position: absolute;
  background-color: transparent;
  top: -28px;
  left: 36px;
  width: 7px;
  height: 3px;
  display: block;
  transform: rotate(35deg);
  float: right;
  border-radius: 2px;
}

.arrow-4-left:after {
  content: "";
  background-color: #FFD762;
  width: 7px;
  height: 3px;
  display: block;
  float: right;
  border-radius: 6px 10px 10px 6px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}

.arrow-4-right {
  position: absolute;
  background-color: transparent;
  top: -28px;
  left: 41px;
  width: 7px;
  height: 3px;
  display: block;
  transform: rotate(-35deg);
  float: right;
  border-radius: 2px;
}

.arrow-4-right:after {
  content: "";
  background-color: #FFD762;
  width: 7px;
  height: 3px;
  display: block;
  float: right;
  border-radius: 10px 6px 6px 10px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}

.open .arrow-4-left:after {
  transform-origin: center center;
  transform: rotate(-70deg);
}

.open .arrow-4-right:after {
  transform-origin: center center;
  transform: rotate(70deg);
}

@media (max-width: 1025px) {
  .table-header > div:nth-child(1) {
    text-align: left;
    width: 27%;
    padding-left: 24px;
  }
  .table-header > div:nth-child(2), .table-header > div:nth-child(5) {
    width: 36%;
    text-align: left;
    padding-left: 23px;
  }
  .table-header > div:nth-child(5) {
    width: 36%;
    text-align: center;
    padding-left: 23px;
  }
  .table-header > div:nth-child(3), .table-header > div:nth-child(4), .table-header > div:nth-child(6), .table-header > div:nth-child(7) {
    display: none;
  }
  .arrow-4 {
    display: inline-block;
  }
  .dropdown-toggle::after {
    left: 407px;
  }
  .dropdown-windows > div {
    margin: 0 auto;
  }
  .header-button_wrapper {
    width: 27%;
  }
  .deposit-container {
    min-height: 198px;
    width: 100%;
  }
  .payment-method {
    width: 100%;
  }
  .elapsed {
    min-width: 100% !important;
    padding-bottom: 35px !important;
  }
  .elapsed > div {
    margin-bottom: 15px;
  }
  .main {
    overflow: hidden;
    overflow-x: hidden;
    height: 100%;
    background-size: unset;
  }
  .main::before {
    width: 0;
  }
  .main::after {
    width: 0;
  }
  .game-info-container-navigation_panel {
    font-size: 18px;
    justify-content: center;
    justify-content: center;
  }
  .game-info-container-navigation_panel > ul {
    display: flex;
    justify-content: center;
    justify-content: start;
  }
  .score-points {
    width: 100% !important;
    position: relative;
    bottom: 5em;
  }
  .visible-header__buttons {
    display: none !important;
  }
  .hidden-header__buttons {
    display: flex !important;
  }
  .containers-wrapper {
    align-content: center;
    flex-direction: column;
    width: 100%;
  }
  .containers-wrapper__first {
    align-content: center;
    flex-direction: column;
    width: 100%;
  }
  .header-wrapper {
    transform: translateY(40px);
  }
  .containers-second_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90% !important;
    margin: 0 auto !important;
  }
  .mobile-header_activation {
    display: flex;
  }
  .sidebar-activation {
    display: none;
  }
  .date-wrapper {
    width: 90%;
    position: absolute;
    bottom: calc(32em - 6px);
  }
  .logo-img_main-logo {
    margin-bottom: 30px;
  }
}
@media (max-width: 450px) {
  .header-button_wrapper {
    width: 50%;
  }
  div.elapsed {
    padding-bottom: 0px !important;
  }
  .game-info-container-navigation_panel {
    font-size: 14px;
    width: 120%;
  }
  .burger-container {
    margin-right: 10px;
    width: 27px;
  }
  .mobile-header {
    position: relative;
    z-index: 99;
    justify-content: space-around;
  }
}/*# sourceMappingURL=transactions.css.map */